<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carol 4 anos!</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../js/vunit.js"></script>

    <meta name="description" content="Carolina 4 anos!">

  <script>
         new vUnit({
            CSSMap: {
                '.vh': {
                    property: 'height',
                    reference: 'vh'
                }
            }
        }).init();
    </script>
  </head>

  <body>
    <section class="vh100">
      <h1>Obrigado!</h1>
    </section>

  </body>

</html>
